/* <input-star></input-star> directive */
.star-list {
	
	display: inline-block;
	padding-left: 0;
	margin-left: -5px;
	list-style: none;

}

.star-list > li {
		
	font-size: 17px;

	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;

	cursor: pointer;	

}

.star-list > li .active {

		color: #FDE35E;
		text-shadow: black 0 0 1px, 0 0 1px ;	

}