<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Angular Input Stars</title>
        <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="angular-input-stars.css">

    </head>
    <body >
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div ng-app="app" ng-controller="AppController as App">

        	<input-stars ng-model="App.prop1" max="5"></input-stars> value: {{App.prop1}}
        	<br>
        	<input-stars ng-model="App.prop2" max="5"></input-stars> value: {{App.prop2}}
        	<br>
        	<input-stars ng-model="App.prop3" max="5"></input-stars> value: {{App.prop3}}
        	<br>
        	<input-stars ng-model="App.prop4" max="5"></input-stars> value: {{App.prop4}}
        	<br>
        	<input-stars ng-model="App.prop5" max="5"></input-stars> value: {{App.prop5}}

        	<h3>Readonly</h3>

        	<input-stars readonly="true" ng-model="App.prop1" max="5"></input-stars> value: {{App.prop1}}
        	<br>
        	<input-stars readonly="readonly" ng-model="App.prop2" max="5"></input-stars> value: {{App.prop2}}
        	<br>
        	<input-stars readonly ng-model="App.prop3" max="5"></input-stars> value: {{App.prop3}}
        	<br>
        	<input-stars readonly ng-model="App.prop4" max="5"></input-stars> value: {{App.prop4}}
        	<br>
        	<input-stars readonly ng-model="App.prop5" max="5"></input-stars> value: {{App.prop5}}


        </div>

        <script src="bower_components/angular/angular.js"></script>
       	<script type="text/javascript" src="angular-input-stars.js"></script>

        <script type="text/javascript">

        	if (window.angular === undefined)
        		alert('Maybe you should run bower install first :]');

        	angular.module('app', ['angular-input-stars']);

        	angular.module('app')
        	 		.controller('AppController',
        	 				[

        	 					'$scope',

        	 					AppController
        	 				]
        	 		);

        	function AppController ($scope) {

        		var vm = this;

        		vm.prop1  = 1;
        		vm.prop2  = 2;
        		vm.prop3  = 3;
        		vm.prop4  = 4;
        		vm.prop5  = 5;

        	}

        </script>
    </body>
</html>